* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

h1 {
  margin-bottom: 25px;
}

.hide {
  display: none;
}

#startGame {
  height: 100px;
  width: 200px;
  background-color: hotpink;
  font-family: "Indie Flower", cursive;
  font-size: xx-large;
  cursor: pointer;
}

img {
  height: auto;
  max-width: 100%;
  padding: 5px;
}

#classmateImg {
  margin-bottom: 20px;
  display: none;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  width: 250px;
  height: 50px;
  margin: 10px 10px 10px 10px;
  color: black;
  background: lightblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  border: 1px solid black;
}

.button:hover {
  box-shadow: 0px 0px 10px grey;
}

ul {
  text-align: center;
}

p {
  margin-top: 20px;
  padding: 10px;
}

#answers {
  text-align: center;
}

#rightAnswer {
  margin-top: 20px;
}

#nameHolder {
  margin: 15px;
}

#nameHolder div {
  margin: 10px;
}

#answerHolder {
  padding: 10px;
}

#startOver {
  height: 100px;
  width: 300px;
  margin-bottom: 15px;
  background-color: yellow;
  font-family: "Indie Flower", cursive;
  font-size: xx-large;
  cursor: pointer;
}

li {
  list-style-type: none;
}

@media only screen and (min-width: 576px) {
  body {
    padding: 5px;
  }

  #buttons {
    flex-direction: row;
  }

  #buttons > button {
    margin: 10px 10px 10px 10px;
  }

  #nameHolder {
    flex-direction: column;
  }
}

@media only screen and (min-width: 780px) {
  #buttons {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .button {
    width: 175px;
  }
}
